vpc_id = "vpc-xxxxxx0" // This is the AWS VPC peering to the HashiCorp HCP VPC//
vpc_cidr_block = "10.0.0.0/16" // CIDR of your VPC which is peering HAshiCorp VPC //
subnet_id = "subnet-xxxx" // Subnet of your VPC //
cluster_id = "xxx-consul-cluster" // Consul Cluster ID //
hcp_consul_security_group_id = "sg-xxxxxxxx" // SG ID of your VPC //
service-principal-key-client-id = "xxxxxxxxxxxxxxxxxxxxxxx" // SP from HVN //
service-principal-key-client-secret = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" //SP from HVN//
